
export("AddAPCluster");
export("CalculateCountLog2FC");
export("CalculateRand");
export("CombineMean"); 
export("CombinePvalue");
export("CombinePvalueMethods"); 
export("CreateClReport");
export("CreateDdReport");
export("CreateDeReport");
export("CreateOiReport");
export("DeAbsSeq");
export("DeAldex2");
export("DeBader");
export("DeBallgown");
export("DeBaySeq");
export("DeBBSeq");
export("DeBGmix");
export("DeBridge");
export("DeDegSeq");
export("DeDeSeq");
export("DeDexus");
export("DeEbSeq");
export("DeEdgeR");
export("DeEdgeRun");
export("DegHeatmap");
export("DegPCA");
export("DeGPseq");
export("DeLimma");
export("DeLMGene");
export("DeMetaseqR");
export("DeMethods");
export("DeNBPSeq");
export("DeNoiSeq");
export("DePlgem");
export("DePoissonSeq");
export("DeRankP");
export("DeRankProd");
export("DeRBM");
export("DeRNAseq");
export("DeRNAseqMethods");
export("DeSam");
export("DeSamSeq");
export("DeSSeq");
export("DeT");
export("DeTSPM");
export("DeTweeDeSeq");
export("DeVoomLimma");
export("DeWelch");
export("DeWilcoxon");
export("DeWrapper");
export("GeneList2Datatable");
export("GeneList2HTML");
export("GseaHeatmap");
export("GseaKegg");
export("GSEAviaJava");
export("NormAffyConstant");
export("NormAffyLoess");
export("NormAffyQspline");
export("NormalizeRNAseq");
export("NormCyclicLoess");
export("NormDESeq");
export("NormFPKM");
export("NormMedian");
export("NormQQ");
export("NormRLE");
export("NormRlog");
export("NormVST");
export("NormTMM");
export("NormTotalCount");
export("NormTPM");
export("NormUpperQuantile");
export("NormWrapper");
export("NormLoess");
export("NormLinear");
export("NormAffyLoess");
export("NormAffyQspline");
export("NormMethods");
export("OraWrapper");
export("OutputDe");
export("PCALegend");
export("PrepareDe");
export("PrepareGSEA");
export("RunningRank");
export("SummarizeGSEA");
export("SummarizeRP");
export("VoomLimma");
export("WriteExcel");
export("WriteExcelSheet");
export("generalized.poisson.likelihood");

