
export("AddAPCluster");
export("DeDeSeq2");
export("DeEdgeR");
export("DegHeatmap");
export("DegPCA");
export("DegPCA2Groups");
export("DeMethods");
export("DeRankP");
export("DeRankProd");
export("DeSam");
export("DeT");
export("DeVoomLimma");
export("DeWrapper");
export("GeneList2Datatable");
export("GeneList2HTML");
export("GseaHeatmap");
export("GseaKegg");
export("GSEAviaJava");
export("PCALegend");
export("PrepareGSEA");
export("RunningRank");
export("SummarizeGSEA");
export("SummarizeRP");
export("VoomLimma");
export("WriteExcel");
export("WriteExcelSheet");

